/* General Reset */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  min-height: 100%;
  overflow-x: hidden;
}

/* App container */
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 100vh; /* Minimum height to fill the viewport */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  /* padding: 20px; */
}

/* Add scrolling behavior */
.app {
  overflow-y: auto; /* Enable vertical scrolling if content overflows */
}

/* Search Bar */
.search-bar {
  margin-top: 20px;
  margin-bottom: 20px;
}

.search-bar input {
  padding: 10px;
  background-color: rgb(247, 246, 246);
  font-size: 16px;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 50vw;
}

.search-bar button {
  padding: 10px 15px;
  font-size: 16px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.search-bar button:hover {
  background-color: #0056b3;
}

/* Weather Card */
.weather-card {
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
}

.weather-card img {
  width: 100px;
}

.weather-card p {
  margin: 10px 0;
}

.weather-card button {
  padding: 10px;
  margin-top: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.weather-card button:hover {
  background-color: #218838;
}

/* Forecast Sections */
.daily-forecast, .hourly-forecast {
  margin-top: 20px;
  width: 100%;
  /* max-width: 900px; */
}

.forecast-cards {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  padding: 10px; 
  justify-content: center; 
}

.forecast-card {
  background: rgba(0, 0, 0, 0.5);
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  flex: 0 0 120px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.forecast-card img {
  width: 50px;
  height: 50px;
}

.NavBar{
  width:100%;
  display: flex;
  align-items: start;
  margin: 0;
  background: linear-gradient(
        rgba(0, 0, 0, 0.9), 
        rgba(0, 0, 0, 0)  
    );
}

.daily-forecast, .hourly-forecast h3{
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.DisText{
  width: 96vw;
  /* padding-left: 20px; */
  display: flex;
  align-items: flex-start;
}

.DisText h2{
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
  font-weight: 400;
  font-size: xx-large;
  font-family: Brush Script MT, cursive;
}
/* Media Queries */
@media (max-width: 768px) {
  .weather-card, .daily-forecast, .hourly-forecast {
    width: 90%;
  }
  .weather-card{
    max-width: 320px;
  }
  .search-bar input {
    width: 60vw;
  }
}

@media (max-width: 480px) {
  .weather-card {
    font-size: 14px;
  }

  .forecast-card {
    flex: 0 0 100px;
  }
}
